@font-face {
   font-family: "Lato";
   src: url('../fonts/Lato-Regular.woff2') format('woff2'), url('../fonts/Lato-Regular.woff') format('woff');
   font-display: swap;
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url('../fonts/Lato-Bold.woff2') format('woff2'), url('../fonts/Lato-Bold.woff') format('woff');
   font-display: swap;
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: "Lato";
   src: url('../fonts/Lato-Black.woff2') format('woff2'), url('../fonts/Lato-Black.woff') format('woff');
   font-display: swap;
   font-weight: 900;
   font-style: normal;
}
body{
   font-family: "Lato", sans-serif;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.6;
}
[class*="__container"]{
   max-width: 1240px;
   margin: 0 auto;
}
.wrapper{
   overflow: hidden;
   position: relative;
   min-height: 100%;
   padding: 20px;
}

.header {
   position: fixed;
   background: linear-gradient(0deg, rgba(223, 215, 14, 1) 0%, rgba(136, 142, 131, 1) 42%, rgba(1, 19, 232, 1) 100%);
   top: 0;
   left: 0;
   width: 100%;
   padding: 25px;
   text-align: center;
   z-index: 100;
}

.nav__items {
   font-size: 20px;
   line-height: 1.2;
   text-transform: uppercase;
   font-weight: 700;
   display: inline-block;
   color: rgb(138, 16, 16);
}
.nav__items:hover,
.nav__items:focus{
   text-decoration: underline;
}
.nav__items:not(:last-child){
   margin-right: 40px;
}

.main {
   margin: 60px;
}
.main__container>*:last-child{
   margin-bottom: 0px;
}
.relative {
   border: 4px solid black;
   border-radius: 4px;
   box-shadow: 7px 7px 7px rgb(13, 0, 255);
   margin-bottom: 200px;

}

.relative__items {
   line-height: 1.4;
   font-size: 18px;
   color: aliceblue;
   text-align: center;
   padding: 30px;
   font-weight: 700;
}

.relative__items--green {
   background-color: #7a956b;
}
.relative__items--green:hover{
   position: relative;
   bottom: 30px;
   left: 25px;
}

.relative__items--purple {
   background-color: #77608d;
}
.relative__items--purple:hover{
   position: relative;
   top: 20px;
   right: 15px;
}

.relative__items--red {
   background-color: red;
}
.relative__items--red:hover{
   position: relative;
   top: 20px;
}

.main__absolute {
   position: relative;
}

.absolute {
   border: 4px solid black;
   border-radius: 4px;
   box-shadow: 7px 7px 7px rgb(234, 255, 0);
   margin-bottom: 200px;
}

.absolute__items {
   line-height: 1.4;
   font-size: 18px;
   color: aliceblue;
   text-align: center;
   padding: 30px;
   font-weight: 700;
   z-index: 101;
   position: relative;
}
.absolute__items--green {
   background-color: #7a956b;
}
.absolute__items--green:hover {
   position: absolute;
   top: 20px;
   right: 80px;
   z-index: 102;

}

.absolute__items--purple {
   background-color: #77608d;
}
.absolute__items--purple:hover{
   position: absolute;
   bottom: 300px;
   right: 20px;
}

.absolute__items--red {
   background-color: red;
}
.absolute__items--red:hover{
   position: absolute;
   left: 50px;
}

.fixed {
   border: 4px solid black;
   border-radius: 4px;
   box-shadow: 7px 7px 7px rgb(234, 255, 0);
   margin-bottom: 200px;
   background-color: #ad4816;
}

.fixed__title {
   font-size: 40px;
   line-height: 1.2;
   text-align: center;
   color: white;
   padding: 20px;
}
.main__sticky {
   position: relative;
   height: 1000px;
}

.sticky {
   border: 4px solid black;
   border-radius: 4px;
   box-shadow: 10px 20px 20px rgb(0, 255, 225);
   margin-bottom: 200px;
}

.sticky__title {
   font-size: 40px;
   line-height: 1.2;
   text-align: center;
   color: rgb(0, 0, 0);
   padding: 20px;
}

.sticky__items {
   line-height: 1.4;
   font-size: 18px;
   color: aliceblue;
   text-align: center;
   padding: 30px;
   font-weight: 700;
}

.sticky__items--green {
   background-color: #7a956b;
   position: sticky;
   top: 75px;
}

.sticky__items--purple {
   background-color: #77608d;
   position: sticky;
   top: 75px;
}

.sticky__items--red {
   background-color: red;
   position: sticky;
   top: 75px;
}

.sticky__items--violet{
   background-color: violet;
   position: sticky;
   top: 75px;
}

.main__z-index {}

.z-index {
   border: 4px solid black;
   border-radius: 4px;
   box-shadow: 10px 20px 20px rgb(0, 255, 225);
   margin-bottom: 200px;
   position: relative;
   height: 400px;
}

.z-index__title {
   font-size: 40px;
      line-height: 1.2;
      text-align: center;
      color: rgb(159, 15, 137);
      padding: 20px;
}

.z-index__items {
   line-height: 1.4;
   font-size: 18px;
   color: aliceblue;
   text-align: center;
   padding: 30px;
   font-weight: 700;
}

.z-index__items--green {
   background-color: #7a956b;
   width: 30%;
   position: absolute;
   right: 30px;
   bottom: 10px;
   z-index: 4;

}

.z-index__items--purple {
   background-color: #77608d;
   width: 30%;
   position: absolute;
   right: 35px;
   bottom: 15px;
   z-index: 2;
}

.z-index__items--red {
   background-color: red;
   width: 30%;
   position: absolute;
   right: 50px;
   bottom: 20px;
   z-index: 3;
}


.main__car {
   background: url("../img/swiss.jpeg") 0 0 / cover no-repeat;
   width: 100%;
   height: 800px;
   position: relative;
}
.car{
   margin-bottom: 200px;
   position: relative;
}

.car__main {
   background: url("../img/bmw.jpg") 0 0 / cover no-repeat;
   width: 570px;
   height: 200px;
   position: absolute;
   top: 70%;
   left: 15%;
}

.car__me-in {
   background: url('../img/me.jpg') 0 0 / cover no-repeat;
   width: 30px;
   height: 50px;
   position: absolute;
   left: 35%;
}
.footer__exp {}

.exp {}

.exp__items:not(:last-child) {
   margin-bottom: 4px;
}

.exp__items {
   
   color: #424551;
   position: relative;
   min-height: 16px;
   padding-left: 32px;
}
.exp__items::before{
   background: url("../icons/check.svg") 0 0 / 100% no-repeat;
   content: "";
   width: 16px;
   height: 16px;
   position: absolute;
   top: 5px;
   left: 0px;
}